.sub-title-wrapper-seo{
	color: #fff;
	font-size: 17px;
	font-family: PoppinsRegular;
	line-height: 1.5;
	padding-bottom: 0px;
}
.sub-title-wrapper-seos {
	color: rgb(255, 255, 255);
	font-size: 17px;
	font-family: PoppinsRegular;
	line-height: 1.5;
	padding-bottom: 20px;
}
.srvc-one-seo{
	width: max-content;
	padding-right: 25px;
}
.services-count-seo{
	display: flex;
}
.leftspacee{
	padding-left: 25px;
}
.servc-text-seo{
	font-family: Abrobold;
	color: #fff;
	font-size: 25px;
}
.hero-img-seo{
	width: 100%;
}
.buttons-dv-seo {
	padding-top: 27px;
	padding-bottom: 55px;
}
.seo-company-text-title{
	color: #ffff;
	font-size: 40px;
	font-family: Abrobold;
}
.seo-company-div-main{
	padding-bottom: 100px;
}
.sub-title-seo-company{
  	color: rgb(255, 255, 255);
    font-size: 16px;
		width: 90%;
		margin-left: auto;
    margin-bottom: 0px !important;
    font-family: PoppinsRegular;
}
.inner-box-seocompany{
	width: 100%;
	display: block;
}
.team-banner-img-seo{
	width: 100%;
	margin-top: 50px;
}
.believe-titile-text{
	font-size: 40px;
	color: #fff;
	font-family: Abrobold;
	text-align: center;
}
.believe-sub-titile-text{
	font-size: 40px;
	color: #fff;
	text-align: center;
	font-family: Abrobold;
}
.beieve-us-dv{
	padding-bottom: 60px;
	padding-top: 30px;
}
.imgbelieve{
	width: 100%;
}
.img-belive{
	padding-bottom: 60px;
}
.button-dv-main-seo-belive .comn-main{
	width: 100%;
	display: table;
	width: max-content;
	padding-bottom: 70px;
	margin-left: auto;
}
.free-box-div{
	background-size: cover;
	margin-bottom: 80px;
	margin-top: 70px;
	border-radius: 20px;
	padding: 50px 20px; 
	background-repeat: no-repeat;
	background-image: url('../../Assets/SeoCompony/free.png');
}
.free-title-main-seo{ 
	color: #fff;
	text-align: center;
	font-family: Abrobold;
	font-size: 35px;
	padding-bottom: 10px;
}
.free-subtitle-main-seo{
	color: #fff;
	text-align: center;
	font-size: 17px;
	font-family: PoppinsRegular;
	width: 70%;
	margin: auto;
}
.form-button .btn-proposal-dg{
	width: max-content;
	margin: auto;
	display: table;
}
.form-button .buttons-dg{
	display: table;
	width: max-content;
	margin: auto;
}
.bottom-space-s{
	padding-bottom: 30px;
}
.show-mobile-seo{
	display: none !important;
}
.title-srvc-seeo	 {
	font-size: 24px;
	color: #fff;
	font-family: Abroreguler;
}
.sub-title-srvc-seo{
	color: rgb(192, 192, 192);
	font-size: 16px;
	width: 75%;
	margin: auto;
	padding-top: 20px;
	margin-bottom: 0px !important;
	font-family: PoppinsRegular;
}





@media (max-width:991px){
	.buttons-dv-seo .btn-proposal-dg{
		display: block !important;
		text-align: center !important;
		margin-bottom: 20px !important;
	}
	.btn-proposal-dg-no-bg{
		text-align: center !important;
		display: block !important;
	}
	.services-count-seo{
		display: none;
	}
	.hero-img-seo {
    width: 100%;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.seo-wrapper{
		padding-top: 0px !important;
	}
	.srvc-one-dg-mobil-show-last{
		width: max-content !important;
		margin: auto !important;
		display: table !important;
	}
	.hide-mobile-seo{
		display: none;
	}
	.show-mobile-seo{
		display: block !important;
		padding-top: 40px;
	}
	.seo-company-text-title {
    font-size: 31px;
	}
	.sub-title-seo-company {
    font-size: 15px;
    width: 93%;
    margin-left: unset;
    padding-top: 15px;
	}
	.seo-company-div-main {
    padding-bottom: 0px;
	}
	.seo-white-section{
		padding-top: 30px !important;
	}
}
@media (max-width:600px){
	.believe-titile-text {
    font-size: 33px;
	}
	.believe-sub-titile-text {
    font-size: 32px;
	}
	.free-box-div {
    margin-top: 0px;
	}
	.free-title-main-seo {
    font-size: 26px;
		padding-bottom: 0px !important;
	}
	.free-box-div {
    padding: 20px 20px 30px 20px;
	}
	.free-subtitle-main-seo {
    font-size: 14px;
    width: 100%;
	}
	.form-button .btn-proposal-dg {
    padding: 10px 14px !important;
	}
}














