.services-box{
	padding: 10px 20px;
	min-height: 320px;
	width: 97% !important;
	margin: auto;
	position: relative;
	cursor: pointer;
	margin-bottom: 30px;
}
.vedio-home{
	width: 100%  !important;
}
.arrow-btn-imgs{
	width: 60px;
}
.rpsace{
	margin-left: 20px;
}
.control-button-slider{
	width: max-content;
	margin-left: auto;
	cursor: pointer;
}

.service-name{
	color: #000000;
	font-size: 21px;
	width: 90%;
	margin-right: 20px;
	align-items: center;
	display: flex;
	justify-content: start;
}
.service-number{
	color: #000000;
	font-family: Thin;
	font-size: 20px;
}
.navbar-sidebar ul a{
	color: #000;
	text-decoration: none !important;
}
.icon-service{
	width: 50px;
}
.service-details-dv{
	position: absolute;
	bottom: 10px;
	left: 20px;
}
.service-details-dv p {
	font-size: 13px;
	line-height: 1.3;
	width: 90%;
	font-family: Thin;
	color: #000000;
	padding-top: 10px;
}
.hover-div{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 0.9s ease, max-height 0.9s ease;
}
.services-box:hover .hover-div {
	opacity: 1;
	max-height: 200px; /* Adjust this value to suit the height of your content */
}
.border-hover{
	border: 1px solid #000000;
	width: 100px;
}
.bluish-purple{
  background: #7743DB;
}
.sunglow{
	background: #FFCC33;
}
.mint-green{
	background: #14C38E;
}
.light-blue{
	background: #00A8FF;
}
.rotate-icon{
	width: 16px;
	height: 18px;
	margin-left: 10px;
}
.services-box:hover .rotate-icon{
	transform: rotateZ(50deg);
}
.black-bg-service{
	background-color: black;
	padding: 30px 0px 130px 0px;
	margin-top: 60px;
}
.black-bg-service .header-page-name-small{
	color: #fff;
}
.black-bg-service .header-page-name-common{
	color: #fff;
}
.service-image-work{
	width: 100%;
}
.client-imagee{
	width: 100%;
	padding-bottom: 20px;
}
.btn-dvd{
	width: max-content;
	margin: auto;
}
.mobile-show-slider{
	display: none;
}
.about-harisandco{
	background-color: black;
	padding: 60px 0px;
	margin-top: 90px;
}
.about-content{
	width: 82%;
	margin-left: auto;
}
.about-text{
	color: #fff;
	font-size: 28px;
	font-family: Thin;
}
.about-text span{
	font-weight: 600;
}
.view-story .enquire-btn{
	color: #fff !important;
	padding: 8px 25px !important;
	border-color: #fff !important;
}
.view-story .enquire-btn .arrow-icon{
	width: 17px !important;
	height: 14px !important;
	margin-left: 5px;
}
.count-number{
	font-size: 57px;
	color: black;
	margin-bottom: 0px !important;
}
.count-text{
	margin-top: 0px !important;
	font-family: Thin;
	font-size: 18px;
}
.counter-home{
	width: 85%;
	margin: auto;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	display: table;
}
.founder-main-image{
	width: 100%;
}
.fearless{
	background-color: black;
	padding: 10px 0px;
	margin-top: -7px;
}
.fearless-title{
	color: #fff;
	margin-top: 25px;
	font-size: 80px;
	font-family: Thin;
}

.badge-logo{
	width: 100%;
}
.scroll-icon{
	width: 80px;
	position: absolute;	
	right: 0px;
	top: -62px;
	animation: jump 2.5s infinite ease-in-out;
}
.fearless-mains{
	position: relative;
}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-22px); /* Adjust the height of the jump */
  }
}
.work-details{
	background-color: rgba(0, 0, 0, 0.543); /* Semi-transparent black */
	padding: 15px 20px;
	position: absolute;
	width: 40%;
	left: 10px;
	bottom: 0;
	transition: width 1.5s ease, height 1.9s ease;
	backdrop-filter: blur(10px);
	cursor: pointer;
}
.work-details-right{
	background-color: rgba(0, 0, 0, 0.543); /* Semi-transparent black */
	padding: 15px 20px;
	position: absolute;
	width: 40%;
	cursor: pointer;
	right:  0px;
	top: 0;
	transition: width 1.5s ease, height 1.9s ease;
	backdrop-filter: blur(10px);
}
.hover-effect:hover .work-details-right{
	width: 80%;
	top: -20px;
}
.home-work-service{
	position: relative;
	width: 97% !important;
	margin: auto;
}
.work-number-text{
	color: #FFCD3C;
	font-size: 40px;
	font-family: Thin;
	padding-bottom: 20px;
}
.work-number-text-color{
	color: #14C38E;
	font-size: 40px;
	font-family: Thin;
	padding-bottom: 20px;
}
.sub-text-work-hide{
	font-size: 15px;
	color: #fff;
	font-family: Thin;
}
.sub-text-work{
	display: none;
	font-size: 15px;
	color: #fff;
	font-family: Thin;
	transition: opacity 0.9s ease, max-height 0.9s ease;
}
.hover-effect:hover .sub-text-work-hide{
	display: none;
}
.hover-effect:hover .sub-text-work{
	display: block;
}
.hover-effect:hover .work-details{
	width: 70%;
}
.founder-inner{
	/* background-color: #fff; */
}
.sub-text-work{
	display: none;
}
.hover-effect:hover .work-number-text{

}
.founder-section{
	/* background-color: black; */
}
.founder-main-image-mobile{
	display: none;
}
.menu-icon{
	display: none;
}


.tabs-main {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling */
  white-space: nowrap; /* Prevents tabs from wrapping to the next line */
  scrollbar-width: thin; /* For Firefox */
}

.tab-text, .tab-text-active {
  flex: 0 0 auto; /* Prevents shrinking or stretching of the tabs */
  padding: 10px 20px 10px 0px;
  cursor: pointer;
}
/* For Webkit browsers like Chrome and Safari */
.tabs-main::-webkit-scrollbar {
  height: 8px;
}
.tabs-main::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
.tabs-main::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.main-titile-career{
	font-size: 22px !important;
}
.services-page .brand-divs{
	padding-bottom: 60px;
}
.services-page .side{
	padding-left: 60px;
}
.services-page .brand-details{
	margin-bottom: 60px;
}
.contact-box{
	background-color: #F4F4F4;
	padding: 30px 40px;
	margin-bottom: 80px;
}
.contact-inner-div  span{
	font-family: boldtext;
	padding-right: 10px;
}
.contact-inner-div p{
	font-family: Thin;
	font-size: 19px;
}
.quote-text{
	padding-bottom: 20px;
	font-family: boldtext;
	font-size: 25px;
}
.map-main iframe{
	width: 100%;
	height: 400px;
}
.contact-box .form-group{
	margin-bottom: 20px;
}
.contact-box .form-control{
	background-color: transparent !important;
	border: 1px solid #000 !important;
	padding: 10px 16px !important;
	border-radius: 0px !important;
}
.contact-box .form-group label{
	padding-bottom: 11px;
}
.contact-inner-div{
	padding-bottom: 20px;
}
.submit-button-form-apply{
	background-color: #000 !important;
	color: #fff !important;
	border-radius: 0px !important;
	padding: 10px 40px !important;
	margin-top: 20px !important;
	display: table !important;
	margin-left: auto !important; 
}
.thank-you-message {
  display: none;
  color: green;
  font-size: 20px;
  margin-top: 20px;
}
.client-imageee {
	width: 100% !important;
	min-height: 118px;
}
.vedio-mob{
	display: none;
}
.company-name-privacy{
	text-align: center;
}
.privacy-sectionnn{
	padding: 50px 0px 100px 0px; 
}
.company-name-privacy-txt{
	text-align: center;
}
.company-name-privacy-txt{
	padding-bottom: 40px;
}
.bld{
	padding-top: 30px;
}
.privacy-sectionnn ul li{
	list-style: disc !important;
}
















/* .fearless-title {
  perspective: 1000px;
  display: inline-block;
  text-align: center; 
}



.flip-animate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: transform 0.3s, color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
  color: #333;
  font-size: 1em;
}

.flip-active span {
  transform: rotateX(90deg) translateY(-22px);
}
 */







@media (max-width:1200px){
	.about-content {
		width: 90%;
	}
}
@media (max-width:1150px){
	.about-text {
    font-size: 30px;
	}
}
@media (max-width:991px){
	.mobile-hide-slider{
		display: none;
	}

	.menu-icon{
		display: block;
		width: 40px;
	}
	.badge-logo {
		margin-left: -6px;
	}
	.mobile-show-slider{
		display: block;
	}
	.home-work-	service {
		margin-bottom: 30px;
	}
	.counter-home {
    width: 99%;
	}
	.count-number {
    font-size: 70px;
	}
	.founder-main-image{
		display: none;
	}
	.founder-main-image-mobile{
		display: block;
		width: 100%;
	}
	.services-page .side {
    padding-left: 	0px;
	}
	.client-imagee {
    width: 100%;
    padding-bottom: 20px;
}
	/* .work-details-right{
	display: none;
	}
	.work-details{
	display: none;
	} */
	.black-bg-service{
	padding: 30px 0px 50px 0px;
	}
}
@media (max-width:766px){
	.scroll-icon {
    width: 74px;
    top: -249px;
	}
	.tab-text-active {
    font-size: 23px;
	}
	.tab-text {
    font-size: 20px;
	}
}
@media (max-width:700px){
	.vedio-home{
		display: none;
	}
	.vedio-mob{
		display: block;
		width: 100%;
		max-height: 53vh;
		object-fit: cover;
		margin-top: -2px;
	}
	.hover-effect:hover .sub-text-work{
		display: none !important;
	}
	.sub-text-work{
		display: none !important;
	}
	.hover-effect:hover .sub-text-work-hide {
    display: block;
	}
	.work-number-text-color {
    font-size: 37px;
		padding-top: 15px;
    padding-bottom: 10px;
	}
}
@media (max-width:650px){
	.fearless-title {
		font-size: 50px;
	}
	.client-imagee {
		min-height: 640px;
	}
	.main-slidersss .slick-dots{
		display: none !important;
	}
	.badge-logo {
		margin-left: -15px;
		width: 75%;
	}
	.scroll-icon {
		width: 74px;
		top: -180px;
	}
	.fearless-main{
		margin-top: -18px;
	}
	.container-main {
		width: 90%;
	}
	.about-text {
		font-size: 27px;
	}
	.about-content {
		width: 100%;
	}
	.about-text {
		font-size: 21px;
		line-height: 1.3;
}
	.counter-section{
		padding-bottom: 25px;
	}
	.contact-box {
    padding: 30px 22px;
    margin-bottom: 80px;
	}
}
@media (max-width:550px){
	.header-page-name-common {
		font-size: 33px;
	}
	.scroll-icon {
		width: 57px;
		top: -83px;
	}
	.badge-logo {
		margin-left: -6px;
	}
	.fearless-title {
		font-size: 47px;
	}
}
@media (max-width:480px){
	.header-page-name-common {
		font-size: 21px;
	}
	.header-page-name-small {
    font-size: 32px;
    padding-bottom: 16px;
	}
}
@media (max-width:400px){
	.vedio-mob{
		display: block;
		width: 100%;
		max-height: 60vh;
		object-fit: cover;
		margin-top: -2px;
	}
}












