.similiar-title{
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 10px;
}
.similiar-sub{
	font-size: 17px;
	line-height: 1.3;
	font-family: thin;
	text-align: justify;
}
.similar-contents{
	padding-top: 20px;
}
.similar-image{
	width: 100%;
}
.similar-div{
	margin-bottom: 50px;
}
.top-space{
	padding-top: 50px;
}
.tab-text-active{
	font-size: 23px;
	font-weight: 500;
}
.tab-text{
	font-size: 22px;
	font-family: thin;
	color: grey;
}
.tabs-main{
	padding-bottom: 10px;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
	align-items: center;
}
.details-text{
	font-size: 23px;
}
.details-work{
	padding-bottom: 30px;
}


@media (max-width:600px){
	.details-text {
    font-size: 16px;
	}
}










